In [3]:
import spacy
import pandas as pd

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
bv = pd.read_csv("../data/external/bill_version.csv", sep=";", encoding="latin1", parse_dates=True)

In [7]:
d1 = open('../data/raw/1528347.txt').read()

In [9]:
d1

'[Congressional Bills 115th Congress] [From the U.S. Government Publishing Office] [H. Res. 3 Engrossed in House (EH)] <DOC> H. Res. 3 In the House of Representatives, U. S., January 3, 2017. Resolved, That a committee of two Members be appointed by the Speaker on the part of the House of Representatives to join with a committee on the part of the Senate to notify the President of the United States that a quorum of each House has assembled and Congress is ready to receive any communication that he may be pleased to make. Attest: Clerk.'

In [10]:
tokens = nlp(d1)

In [11]:
tokens

[Congressional Bills 115th Congress] [From the U.S. Government Publishing Office] [H. Res. 3 Engrossed in House (EH)] <DOC> H. Res. 3 In the House of Representatives, U. S., January 3, 2017. Resolved, That a committee of two Members be appointed by the Speaker on the part of the House of Representatives to join with a committee on the part of the Senate to notify the President of the United States that a quorum of each House has assembled and Congress is ready to receive any communication that he may be pleased to make. Attest: Clerk.

In [12]:
len(tokens)

115

In [9]:
doc_len = bv[['id']]

In [11]:
doc_len['len'] = -1

<ipython-input-11-7ce5e7c12867>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  doc_len['len'] = -1

In [12]:
doc_len.head()

        id  len
0  1528347   -1
1  1528348   -1
2  1528349   -1
3  1528350   -1
4  1528351   -1

In [21]:
from multiprocessing.pool import ThreadPool
nlp = spacy.load("en_core_web_sm", disable = ['ner', 'tagger', 'parser', 'textcat'])
nlp.max_length = 10000000
nlp.pipe_names


def calculate_length(i):
    if i % 10000 == 0:
        print(i)
    fname = '../data/raw/' + str(bv['id'][i]) +'.txt'
    d1 = open(fname).read()
    tokens = nlp(d1)
    doc_len.at[i, 'len'] = len(tokens)
    return(1)
    

for i in range(469639, len(bv)):
#for i in range(len(bv)):
    try:
        calculate_length(i)
    except:
        print(f"i:{i} is missing")

i:469639 is missing
470000
480000
i:486691 is missing
490000
500000
i:505176 is missing
510000
i:510098 is missing
i:515302 is missing
520000
530000
540000
i:545903 is missing
550000
i:551055 is missing
560000
i:566534 is missing
570000
i:576868 is missing
580000
590000
600000
610000
i:612567 is missing
i:614692 is missing

In [19]:
# Started 4:10

# Likely takes 20 min
#len(bv)/100*0.2/60
i

469639

In [25]:
doc_len

             id   len
0       1528347   115
1       1528348    95
2       1528349   159
3       1528350   145
4       1528351   117
...         ...   ...
615352  2743272  1596
615353  2743273  4640
615354  2743274  1844
615355  2743275    26
615356  2743276   259

[615357 rows x 2 columns]

In [26]:
doc_len.to_csv('doc_len.csv', index=False)